{
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "semi": true,
    "importOrder": [
        "^@nestjs",
        "^@app",
        "^@test",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": [
        "typescript",
        "decorators-legacy"
    ],
    "importOrderCaseInsensitive": true
}
